$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    padding-top: 0px;
    padding-bottom: 0px;
}

$brandpink: #ec0081;

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    position: relative;
}
/* Custom page header */
.main-logo {
    background: $brandpink;
    text-align: center;

    .top-logo {   
        height: 50px;
        width: auto;
    }
}

.header {
    padding: 10px 0 ;
    text-align: center;

    .top-links {
        letter-spacing: 2px;
        display: inline-block;
        list-style: none;
        margin: 0 30px;
        font-size: 20px;

        a {
            color: $brandpink;
        }
        h3 {
            margin-top: 0;
            margin-bottom: 0;
            // padding-bottom: 19px;
        }
    }
}

.product-gallery {
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px; 
    padding-right: 2px; 
    
    .product-unit {
        display: inline-block;      

        .product-item{
            position: relative;
            background: gray;
            display: inline-block;
            height: 400px;
            width: 300px;
            border: 3px solid white;
        }

        .product-name {
            text-align: center;
            line-height: 50px;
            font-size: 20px;
            margin: 0;
            margin-right: 0px;
            background: #292828;
            display: block;
            width: 100%;
            color: #fff;
            // color: $brandpink;
            height: auto;
        }

        .product-container {
            border-left: 1px solid gray;
            background: #fff;
            display: block;
            height: auto;
            width: 100px;
        }
    }
}

.product-page{
    height: 500px;
    margin: 0 auto;
    background: #292828;
    padding-left: 0px;
    padding-right: 0px;
    // border: 1px dashed black;

    .product-descrip {
        height: 100%;


        .prod-description {
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            color: #fff;
            margin-top: 25px;
            height: 400px;

            .descrip {   
                padding-bottom: 20px; 
                border-bottom: 1px dashed #fff;
            }
            .circle {
                margin-top: 12px;
                height: 15px;
                width: 15px;
                border-radius: 15px;
                background: #fff; 

                &.pull-right {
                    background: $brandpink;                     
                }
            }
        }

        p {
            border-bottom: 1px dashed #fff;
            font-size: 12px;
        }
    }

    .prod-name {
        border-bottom: 1px solid #fff;
        position: relative;
        padding: 0px;
        text-align: center;
    }
    .product-example {
        text-align: center;
        background: #fff;
        position: relative;
        padding-left: 0px;
        padding-right: 0px;
        height: 100%;

        .btn {
            margin-top: -130px;
            background: $brandpink;
            color: #fff;
        }

    }

    .product-colors {
        height: 100%;


        .swatch-title {
            text-align: center;
            margin-top: 20px;
            color: #fff;
            border-bottom: 1px solid #fff;
        }

        .swatch-pallette {
            padding-left: 22px;
            border-bottom: 1px solid #fff;

            .swatch {
                border: 3px solid #fff;
                display: inline-block;
                margin: 12px;
                height: 50px;
                width: 50px;
                border-radius: 25px 0 25px 25px;

                &.nude {
                    background: #FFEBCD;
                }
                &.pink {
                    background: $brandpink;
                }
                &.blue {
                    background: rgb(107, 107, 226);
                }
                &.yellow {
                    background: rgb(252, 252, 134);
                }
                &.black {
                    background: rgb(68, 68, 68);
                }
                &.green {
                    background: rgb(123, 255, 123);
                }
            }
        }
        .product-containers {
            text-align: center;
            position: absolute;
            bottom: 20px;
            width: 200px;
            height: 150px;
            color: #fff;

            h3 {
                margin-top: -26px;
                margin-bottom: 4px;

            }

            .product-package {
                margin: 0 auto;
                width: 175px;
                height: 175px;
            }
        }
    }
}
/* Custom page footer */
.footer {
    text-align: center;
    background: $brandpink;
    color: #fff;
    height: 50px;
    text-transform: uppercase;

    span {
        line-height: 50px;
        margin-bottom: 0px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.landing-center {
    position: relative;

    .landing {
        position: relative;
        overflow: hidden;
        height: 700px;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        background: whitesmoke;

        .landing-img {
            margin: 0 auto;
        }
    }
    .lead {
        position: absolute;
        text-align: center;
        top: 350px;
        left: 10px;
        color: #fff;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        // padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        // margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
